<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{% block title %}{% endblock %}</title>

	<!-- Bootstrap core CSS -->
	<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- D3 package -->
	<script src="https://d3js.org/d3.v5.min.js"></script>

	<!-- Bokeh CSS -->
	<link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.css" type="text/css" />
	<link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.css" type="text/css" />
	<link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-tables-1.4.0.min.css" type="text/css">

	<link rel="stylesheet" href="../static/css/home.css" type="text/css">

	<!-- Bokeh scripts -->
	<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-1.4.0.min.js"></script>

	<style>
		p, .txt {  text-align: justify;
  			 text-justify: inter-word;
  			}
	</style>
</head>
<body>
	<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap navbar-expand-md" id="navbar-top">
		<a class="navbar-brand col-1" id="title" href="/"> <img src="/static/labeldelight_logo.jpeg" width='auto' height='50px' alt=""> </a>
		<div class="navbar-collapse" id="navbarCollapse">
		
		</div>
	</nav>
	<main role="main" class="flex-shrink-0">
		<div class="tooltip" id="tooltip"></div>
			{% block body %}
			{% endblock %}
		
	</main>
</body>
</html>