{% extends "base.html" %}
{% block title %}  - NOWHERE {% endblock %}
<!-- <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-0.12.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-x.y.z.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-x.y.z.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-x.y.z.min.js"></script> -->

{% block body %}

<div id="filter" class="filter_1"></div>
<!-- <h1>Hello, Freek!</h1> -->
    {{ script0|indent(4)|safe }}
    {{ div0|indent(4)|safe }}
    {{ script1|indent(4)|safe }}
    {{ div1|indent(4)|safe }}
    {{ script2|indent(4)|safe }}
    {{ div2|indent(4)|safe }}
    {{ script3|indent(4)|safe }}
    {{ div3|indent(4)|safe }}
    {{ script4|indent(4)|safe }}
    {{ div4|indent(4)|safe }}
    {{ script5|indent(4)|safe }}
    {{ div5|indent(4)|safe }}
    {{ script6|indent(4)|safe }}
    {{ div6|indent(4)|safe }}
    {{ script7|indent(4)|safe }}
    {{ div7|indent(4)|safe }}

{% endblock %}