{% extends "base.html" %}
{% block title %} - NOWHERE {% endblock %}
<!-- <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-0.12.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-x.y.z.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-x.y.z.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-x.y.z.min.js"></script> -->



{{script}}
{% block body %}

<div id="view3" class="view3_2"></div>
<div class=".container-fluid">
  <div class="row">
    <div class="col-s-2">
    <p></p>
    </div>
    <div class="col-lg-2">
        {{r_script|safe }}
        {{r_div|safe }}
    </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    // verify our websocket connection is established
    socket.on('connect', function() {
        console.log('Websocket connected!');
    });
    
    function updateVisible(value) {
		  socket.emit('active_update', {actives: value});
	  }
    function updateSliderValue(slider, value) {
		  socket.emit('slider_value_update', {slider_name: slider, var: value});
	  }
  </script>

{% endblock %}