{% extends "base.html" %}
{% block title %}  - NOWHERE {% endblock %}
{% block body %}

<div id="img" class="view2"></div>
<h1>The second view of our site</h1>
<img src="https://raw.githubusercontent.com/MathieuBartels/information_visualization/master/app/data/230_works_1024x/13aeroplanes_1998.jpg" alt="aeroplanes" width="500" height="333">
<script type="text/javascript" src="../static/js/show_image.js" class="view2"></script>
<!-- <script>document.write(5 + 6);</script> -->
<!-- <script>
    var img = new Image();
    var div = document.getElementById('x');
    
    img.onload = function() {
        div.appendChild(img);
    };
    
    img.src = "../data/230_works_1024x/Access_2007.jpg"
</script> -->
<!-- <script type="text/javascript" src="../static/js/show_image.js"></script> -->


{% endblock %}